body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background:#222;
	font-family: sans-serif;
}

#messages {
	height: 81vh;
	background: #eee;
	margin: 2vh 2vw;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 30px;
	font-size: 30px;
	overflow-y: auto;
}

#input form {
	height: 11vh;
	margin: 2vh 2vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
}

#inputBox {
	width: 80%;
	height: 100%;
	border: none;
	border-radius: 5px;
	outline: none;
	padding: 1vh;
	box-sizing: border-box;
	background: #eee;
	font-size: 20px;
}

#send {
	width: 18%;
	height: 100%;
	border-radius: 5px;
	font-size: 20px;
	background: #999;
	border: none;
}